html {
    height: 100%;
    background-color: white;
}
body {
    height: 43%;
    background-color: rgba(255, 221, 227, 0.80);
}
/* NAVIGATION*/

ul {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    background-color: rgba(255, 221, 227, 0.50);
    color: black
}
a{
    display: inline;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    font-size: 18px;
}

.icon {
    display: inline-flex;
    float: inline-end;
    margin-left: 20px;
    margin-top: 15px;
}


/* MIDDLE SIDE */
.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    /* background-color: pink; */
}

img {
    /* width: 99%; */
    margin-top: 75px;
    margin-left: 200px;
}
/* RIGHT SIDE */
/* .rightside {
    line-height: 5px;
} */
p {
    /* display: flex; */
    font-size: 20px;
    margin-left: 10px;
}
h3{
    margin-left: 10px;
    font-size: 20px;
}

h1 {
    font-size: 120px;
    margin-left: -45px;
    line-height: 0.9;
}

/* FOOTER */
footer {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.row1{
    display: inline;
    
}